<!DOCTYPE html>
<html>

<head>
    <title>Student Sign In</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
    <div id="app">
        
        <div id="new-student-form-errors" class="m-2">
            <!-- Shows errors from form validation by looping through the formErrors array -->
             <!-- v-if - only shows the errors if there are any -->
             <div v-if="formErrors.length > 0" class="alert alert-danger">
                <li v-for="error in formErrors" :key="error">
                    {{ error }}
                </li>
             </div>
        </div>


        <div id="new-student-form" class="card add-student m-2 p-2">
            <h4 class="card-title">Add new student</h4>

            <div class="form-group mb-3">
                <label for="name">Name</label>
                <!-- v-model newStudentName connects the input to the reactive data -->
                 <!-- .trim takes spaces off the ends -->
                <input v-model.trim="newStudentName" id="name" class="form-control">
            </div>

            <div class="form-group mb-3">
                <label for="starID">Star ID</label>
                 <!-- v-model newStarID connects the input to the reactive data -->
                <input v-model.trim="newStarID" id="starID" class="form-control">
            </div>

            <!-- v-on:click event handler connected to the addStudent function -->
            <button v-on:click="addStudent" class="btn btn-primary">Add</button>
        </div>


        <div id="student-list-table" class="card m-2 p-2">
            <h4 class="card-title">Student List</h4>
            <h5>{{ numberOfStudents }} students in class register.</h5>
            <div id="student-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>StarID</th>
                            <th>Present?</th>
                            <th>Delete?</th>
                        </tr>
                    </thead>

                   <tbody>
                        <!-- TODO create table rows 
                        Each row will have a checkbox, bound to the app's data 
                        When the checkbox is checked/unchecked, 
                        the student will be signed in/out -->

                        <!-- v-for loops through students in studentList -->
                        <tr v-for="student in sortedStudents" v-bind:class="{ present: student.isPresent, absent: !student.isPresent }" :key="student.starID">
                            <!-- Gets the student's name -->
                            <td>{{ student.name }}</td>
                            <!-- Gets the student's Star ID -->
                            <td>{{ student.starID }}</td>
                            <!-- Checkbox for student presence -->
                            <td>
                                <input type="checkbox" v-model="student.isPresent" v-on:change="arrivedOrLeft(student)">
                                <span v-if="student.isPresent" class="mx-1">Here!</span>
                                <span v-else class="mx-1">Not present</span>
                            </td>
                            <!-- Delete button -->
                            <td>
                                <button class="btn btn-danger" v-on:click="deleteStudent(student)">
                                    <i class="bi bi-trash-fill"></i> Delete
                                </button>
                            </td>
                        </tr>

                   </tbody>

                </table>
            </div>
        </div>

        <div id="welcome-or-goodbye-message" class="m-2">
            
            <!-- TODO show a message when student arrives or leaves  -->
            <div v-if="mostRecentStudent.name">
                <div v-if="mostRecentStudent.isPresent" class="alert alert-success">
                    Welcome, {{ mostRecentStudent.name }}!
                </div>
                <div v-else class="alert alert-info">
                    Goodbye, {{ mostRecentStudent.name }}! See you later!
                </div>
            </div>
        </div>

    </div>

    <script>

        // This is where we will create our Vue app and define its data and methods
        const { createApp, ref, computed } = Vue

        // This is the Vue app instance
        createApp({
            setup() {
                // TODO create reactive data

                // These will hold the values of the new student form inputs
                const newStudentName = ref('')
                const newStarID = ref('')

                // Students have a name, starID, and whether they are present or not
                const studentList = ref([
                    { name: 'Alice', starID: 'sf1234wa', isPresent: false },
                    { name: 'Bob', starID: 'ex6789ds', isPresent: false }
                ])

                // This will hold any errors from form validation
                const formErrors = ref([])

                const mostRecentStudent = ref({}) // This will hold the most recent student to arrive or leave

                // TODO create functions

                // This function will be called when the "Add" button is clicked
                function addStudent() {

                    formErrors.value = [] // reset form errors

                    // Form validation: check if the name and star ID are not empty
                    if (newStudentName.value === '') {
                        formErrors.value.push('Name is required.')
                    }

                    if (newStarID.value === '') {
                        formErrors.value.push('Star ID is required.')
                    }

                    // If there are no form errors, add the new student to the list
                    if (formErrors.value.length === 0) {
                        // Create a new student object
                        let student = {
                            name: newStudentName.value,
                            starID: newStarID.value,
                            isPresent: false
                        }

                        // Add the new student to the student list
                        studentList.value.push(student)

                        // Clears the form inputs
                        newStudentName.value = ''
                        newStarID.value = ''
                    }
                }

                // This function will be called when a student's presence checkbox is changed
                function arrivedOrLeft(student) {

                    // For now, just show an alert with the student's name and whether they arrived or left
                    //alert(student.name + ' has ' + (student.isPresent ? 'arrived' : 'left') + '.')

                    mostRecentStudent.value = student
                }

                // This function will be called when the delete button is clicked for a student
                function deleteStudent(studentToDelete) {
                    // TODO delete the student from the student list

                    if (confirm('Are you sure you want to delete ' + studentToDelete.name + '?')) {
                        // Remove the student from the student list
                        studentList.value = studentList.value.filter(student => student != studentToDelete)
                    }

                    //const studentListWithoutDeletedStudent = []
                    //studentList.value.forEach(student => {
                    //    if (student != studentToDelete) {
                    //        studentListWithoutDeletedStudent.push(student)
                    //    }
                    //})
                    //studentList.value = studentListWithoutDeletedStudent
                }

                // TODO create computed properties

                // This computed property will return the student list sorted alphabetically by name
                const sortedStudents = computed( () => {
                    // Sort student array in name order, regardless of case
                    return studentList.value.toSorted( (student1, student2) => {
                        return student1.name.localeCompare(student2.name)
                    })
                })

                const numberOfStudents = computed( () => {
                    return studentList.value.length
                })

                return {
                    // return reactive data
                    newStudentName,
                    newStarID,
                    studentList,
                    formErrors,
                    mostRecentStudent,

                    // return functions
                    addStudent,
                    arrivedOrLeft,
                    deleteStudent,

                    // return computed properties
                    sortedStudents,
                    numberOfStudents
                }
            }
        }).mount('#app')

    </script>

</body>

</html>
